<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.cts.academic.ExtentListener.ExtentreortListener" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.cts.Academic.testcases.HomepageTest" />
			<class name="com.cts.Academic.testcases.Academicpagetest" />
			<class name="com.cts.Academic.testcases.RegisterpageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
